/* *{
    width:100%;
} */

.body{
    width:100%;
    height:100vh;
    background-color: #414141;
    display:flex;
}

.side{
    width:20%;
    height:100vh;
    background-color: #070707;
    /* display:inline-block; */
}

/* .main{
    width:80%;
    height:100vh;
    background-color: #414141;
    display:inline-block;
} */

/* Side Bar Work */
.menu{
    margin-left:5px;
    margin-top: 5px;
    width:20%;
    height:60px;
    background-color: aliceblue;
    border-radius: 30px;
    display:inline-block;
}

.logo{
    width:70%;
    height:60px;
    display:inline-block;
    border-radius: 10px;
    background-color: beige;
}

.r1{
    width:90%;
    height:40px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}
.r2{
    width:90%;
    height:40px;
    margin-top:2px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: aliceblue;
}

.subs{
        width:90%;
    height:40px;
    margin-top:2px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(223, 77, 77);
}

.channels{
    width:90%;
    height:30px;
    margin-top:2px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(77, 165, 223);
    padding:5px;
}

.log{
    margin-left:5px;
    width:11%;
    height:30px;
    border-radius: 50px;
    background-color: #414141;
}

.reports{
    width:90%;
    height:40px;
    margin-top:2px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(213, 32, 32);
}


.desc{
    color:rgb(191, 236, 26)
}

/* main Screen */

.main{
    width:79%;
    height:100vh;
    /* display:inline-block; */
    background-color: #111010;
}

.header{
    width:100%;
    height:40px;
    background-color: #414141;
    padding:5px;
}

.search{
    width:40%;
    height:30px;
    margin-left:20%;
    border-radius: 10px;
    background-color: rgb(219, 229, 237);
    padding:5px;
}

.searchIcon{
    width:30px;
    height:30px;
    margin-left:90%;
    border-radius: 50px;
    background-color: rgb(92, 157, 210); 
}

.sicon{
    width:30px;
    height:30px;
    margin-left:10px;
    margin-bottom:5px;
    border-radius: 50px;
    background-color: rgb(92, 157, 210); 
}

.search, .sicon, .create, .bell, .acc{
    display:inline-block;
}

.create{
    width:80px;
    height:35px;
    margin-left:19%;
    margin-bottom: 3px;
    border-radius: 20px;
    background-color: rgb(92, 157, 210);
}

.bell{
    width:35px;
    height:35px;
    margin-left:10px;
    margin-bottom:4px;
    border-radius: 50px;
    background-color: rgb(92, 157, 210); 
}
.acc{
    width:35px;
    height:35px;
    margin-left:10px;
    margin-bottom:4px;
    border-radius: 50px;
    background-color: rgb(92, 157, 210); 
}

.suggest{
    width:100%;
    height:40px;
    background-color: #d9e596;
    padding:5px;
}
.s{
    width:5%;
    height:40px;
    margin-left: 5px;;
    border-radius: 10px;
    background-color: rgb(107, 188, 222);
    display:inline-block;
}

.s2{
    width:9%;
    height:40px;
    margin-left: 5px;;
    border-radius: 10px;
    background-color: rgb(107, 188, 222);
    display:inline-block;
}

.s3{
    width:14%;
    height:40px;
    margin-left: 5px;;
    border-radius: 10px;
    background-color: rgb(107, 188, 222);
    display:inline-block;
}

.content{
    width:100%;
    height:85vh;
    background-color: #414141;
    padding:10px;
}

.v{
    width:33%;
    height:250px;
    background-color: #689bdd;
}

.v{
    display:inline-block;
}

.thumb{
    margin-left: 10px;
    margin-top:10px;
    width:95%;
    height:70%;
    border-radius: 10px;
    background-color: #c2bbb4;
}

.title{
    width:95%;
    height:45px;
    background-color: azure;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 10px;
    padding:5px;
}

.acc1{
    width:40px;
    height:40px;
    margin-left:10px;
    border-radius: 50px;
    background-color: rgb(92, 157, 210); 
}