.body{
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.outer{
    width: 100vw;
    height: 100vh;
}

.divMatera {
  position: absolute;  
  width: 50%;
  height: 100%;
  transform-origin: left bottom;
  animation: leftToRight 1.5s ease forwards;
}

    .divChance  {
    position: absolute;  
    width: 50%;
    height: 100%;
    transform-origin: right bottom;

    animation: rightToLeft 1.5s ease forwards;
    }

@keyframes leftToRight {
    from {
        transform: rotateZ(125deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

@keyframes rightToLeft {
    from {
        transform: rotateZ(125deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}

.materaVid, .chanceVid {
  position: absolute;  
  top: 55%;
  left: 40%;
  width: 500px;
  height: 300px;
  transition: opacity 0.3s ease;
  z-index:1;
  object-fit: cover;    
}


.materaImg, .chanceImg {
  position: absolute;  
  top: 0;
  left: 0;
  width: 730px;
  height: 700px;
  z-index: 2;          
  object-fit: contain;  
  opacity:0;
  transition: opacity 0.3s ease;
}


