.block{
    width:500px;
    height:500px;
    border:1px solid black;
}

.block:hover{
  background-color: rgb(228, 26, 26); 
}

.body{
    width:100px;
    height:100px;
    border:1px solid black;
}
.body:active{
    background-color: blue;
}